{
  "tenantId": "{{ oidc_tenant_id }}",
  "subscriptionId": "{{ azure_subscription_id }}",
  "resourceGroup": "{{ resource_group }}",
  "aadClientId": "{{ oidc_client_id }}",
  "cloud": "AzurePublicCloud",
  "oidcIssuerUrl": "https://{{ public_ip  }}/openid/v1/",
  "oidcTokenPath": "/var/run/secrets/tokens"
}
